body {font-family: Cambria, Georgia, serif; }
#title {
	font-size: 35px;
	font-weight: bold;
	color: #2E2E2E;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center; }
a#menu {
	margin: 10px;
	font-size: 20px;
	color: white;
}
div#menu {
	background-color: #002699;
	padding: 20px;
	box-shadow: 0 0 12px;
}
#subtitle {
	color: #2E2E2E;
	font-size: 30px;
	margin: 40px;
}
#text {
	font-size: 40px;
	margin-left: 40px;}
#search {
	background: #F2F2F2;
	margin: 40px;
	padding: 20px 40px 20px 40px;
	font-size: 20px;
	box-shadow: 0 0 12px;
}
input {
	font-size: 20px;
	font-family: Cambria, Georgia, serif;
}
#search_field {
	width: 100%;
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
}
#search_field_year {
	width: 30%;
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
}
table {
	border-spacing: 20px 20px;
}
select {
	font-size: 20px;
	height: 30px;
	width: 100%;
	font-family: Cambria, Georgia, serif;
	border-radius: 10px;
}
#button {
	background: #E6E6E6;
}
#main {
	margin: 40px;
	padding: 0px 40px 20px 40px;
	font-size: 20px;
}
.text {
	font-size: 40px;
	margin-left: 40px;
a {
	color: black;
	text-decoration: none;
	font-weight: bold; 
}
#construction {
	color: #2E2E2E;
	font-size: 30px;
	margin: 40px 0px 40px 80px;
}