<!DOCTYPE html>
<html>
	<head>
		<title>Изменения в строе сложноподчиненного предложения</title>
		<link type="text/css" rel="stylesheet" href= "{{ url_for('static', filename='stylesheets/style.css') }}" />
	</head>
	<body>
		<div id="title">
			<a href="/index">Изменения в строе сложноподчиненного предложения</a>
		</div>
		<div id="menu">
			<a href="/index">О проекте</a>
			<a href="/search">Поиск</a>
			<a href="/help">Помощь</a>
			<a href="/resources">Список источников</a>
		</div>
		<div id="main">
			<h1>Инструкция по поиску в базе данных</h1>
			<h2>Общие замечания</h2>
			<ol>
				<li>
					<p class="text">По мере набора текста в полях поиска* всплывают подсказки, показывающие подходящие конструкции из базы. Если после введения полного текста запроса подсказка не появилась, то в базе данных нет результатов, удовлетворяющих Вашему запросу.</p>
					<p class="small_text">*«Год первого/последнего употребления» подсказки не появляются, пользователю нужно вводить запрос полностью самостоятельно.</p>
				</li>
				<li>
					<p class="text">
						Для ознакомления с синтаксисом формул для конструкций используйте следующую ссылку:
						<ul>
							<li>Конструктикон: <a href="https://spraakbanken.gu.se/eng/resource/konstruktikon-rus">https://spraakbanken.gu.se/eng/resource/konstruktikon-rus</a>.</li>
						</ul>
					</p>
				</li>
				<li>
					<p class="text">В паспорте конструкции обозначен номер оригинальной страницы книги-источника, на которой была описана интересующая конструкция, и соответствующая страница в pdf-файле книги. По номеру страницы можно перейти на изображение в книге.
					</p>
				</li>
			</ol>
			<!--<h2>Примеры запросов</h2>
			<p class="text">В первом (верхнем) поле производится поиск по точной конструкции. Например:</p>
			<img src="../static/images/screenshot_1.png" alt="screenshot_1.png">
			<p class="text">Кликаем на конструкцию «Вольтеров век», нажимаем «Поиск».</p>
			<img src="../static/images/screenshot_2.png" alt="screenshot_2.png">
			<p class="text">В результатах поиска еще раз кликаем на конструкцию «Вольтеров век». Перед нами - паспорт конструкции и примеры ее употребления.</p>
			<img src="../static/images/screenshot_3.png" alt="screenshot_3.png">
			<p class="text">Теперь произведем поиск по нескольким параметрам.</p>
			<p class="text">Выберем конструкцию «Глагол + существительное», предлог «ради» и значение конструкции «цель».</p>
			<img src="../static/images/screenshot_4.png" alt="screenshot_4.png">
			<p class="text">Изучаем результаты поиска. Кликнув на конструкцию, можно подробнее узнать о ней и посмотреть примеры употреблений.</p>
			<img src="../static/images/screenshot_5.png" alt="screenshot_5.png">-->
		</div>
	</body>
</html>