<!DOCTYPE html>
<html>
	<head>
		<title>Изменения в строе сложноподчиненного предложения</title>
		<link type="text/css" rel="stylesheet" href= "{{ url_for('static', filename='stylesheets/style.css') }}" />
	</head>
	<body>
		<div id="title">
			<a href="/index">Изменения в строе сложноподчиненного предложения</a>
		</div>
		<div id="menu">
			<a href="/index">О проекте</a>
			<a href="/search">Поиск</a>
			<a href="/help">Помощь</a>
			<a href="/resources">Список источников</a>
		</div>
		<div id="main">
			<h1>О проекте</h1>
			<p class="text">Проект "База данных исторических конструкций" был запущен в рамках курса "Проектирование лингвистических систем и компонентов" на базе Школы лингвистики НИУ ВШЭ в феврале 2016 г. Целью данного проекта являлась оцифровка научного труда "Очерки по исторической грамматике русского литературного языка XIX века" под редакцией В. В. Виноградова и Н. Ю. Шведовой (в 4 томах) и представление в формате базы данных одного тома из этого собрания: "Изменение в системе словосочетаний в русском литературном языке XIX века".</p>
			<p class="text">Наша база данных продолжение этого проекта. Была создана база данных по тому "Изменения в строе сложноподчиненного предложения"</p>
			<p class="text">В базе данных может быть осуществлен поиск по различным параметрам - например, по значению конструкции или году её первого употребления. В базе представлены примеры употребления конструкции, взятые из анализируемой литературы и Национального корпуса русского языка. При возникновении вопросов по поисковым возможностям базы данных воспользуйтесь справкой в разделе "Помощь".</p>
			<p class="text">Планируется создание баз данных по другим томам "Очерков по исторической грамматике русского литературного языка XIX века".</p>
			<h1>Команда</h1>
			<p class="text">Рахилина Екатерина Владимировна - руководитель проекта
			<br>
			Наумов Александр  - техническая часть проекта 
			<br>
			Симдянова Александра - техническая часть проекта 
			<br>
			Исламова Алина  - теоретическая часть проекта 
			<br>
			Колесникова Евгения  - теоретическая часть проекта 
			<br>
			Лещенко Ольга  - теоретическая часть проекта 
			<br>
			Цыгунова Мария - теоретическая часть проекта
			</p>
			<p class="text">Школа лингвистики НИУ ВШЭ, 2017 г.</p>
		</div>
	
	</body>
</html>