<!DOCTYPE html>
<html>
	<head>
		<title>Изменения в строе сложноподчиненного предложения</title>
		<link type="text/css" rel="stylesheet" href= "{{ url_for('static', filename='stylesheets/style.css') }}" />
	</head>
	<body>
		<div id="title">
			<a href="/index">Изменения в строе сложноподчиненного предложения</a>
		</div>
		<div id="menu">
			<a href="/index">О проекте</a>
			<a href="/search">Поиск</a>
			<a href="/help">Помощь</a>
			<a href="/resources">Список источников</a>
		</div>
		<div id="main">
			<h1>Список источников</h1>
			<p class="text">Виноградов В. В., Шведова Н. Ю. Очерки по исторической грамматике русского литературного языка XIX века. – Наука, 1964. – Т. 5.</p>
		</div>
	</body>
</html>